<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding ion-text-center">
    <h2>{{ user?.nombre }} {{ user?.apellidos }}</h2>
  </div>

  <ion-list lines="full">

    <ion-list-header>
      <h3>Datos personales</h3>
    </ion-list-header>

    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-note slot="end">{{ user?.nombre }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Correo:</ion-label>
      <ion-note slot="end">{{ user?.email }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Tipo Lector:</ion-label>
      <ion-note slot="end">{{ user?.tipoLector || 'No definido' }}</ion-note>
    </ion-item>

  </ion-list>

  <div class="ion-padding">
    <ion-button (click)="logout()" expand="block" color="danger">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Cerrar sesión
    </ion-button>
  </div>

</ion-content>