<ion-app>

    <ion-menu contentId="main-content">

        <ion-header>
            <ion-toolbar>
                <ion-title>NotasdeunLector</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list>

                <ion-item button routerLink="/home">Nuevo mundo</ion-item>
                <ion-item button routerLink="/novedades">Novedades</ion-item>
                <ion-item button routerLink="/libros">Recomendados</ion-item>

                <ion-item-divider>
                    <ion-label>Perfil</ion-label>
                </ion-item-divider>
                <ion-item button routerLink="/perfil">
                    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                    Mi Perfil
                </ion-item>
                <ion-item button routerLink="/micuenta">Mi cuenta</ion-item>
                <ion-item button routerLink="/mibiblioteca">Mi biblioteca</ion-item>
                <ion-item button routerLink="/ayuda">Ayuda</ion-item>

                <ion-item-divider>
                    <ion-label>Acceso</ion-label>
                </ion-item-divider>
                <ion-item button routerLink="/register">Registrarte</ion-item>
                <ion-item button routerLink="/login">Iniciar Sesión</ion-item>

                <ion-item-divider>
                    <ion-label>Explora</ion-label>
                </ion-item-divider>
                <ion-item button href="/home">Inicio</ion-item>
                <ion-item button href="/novedades">Novedades</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>