<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mis Libros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="ion-padding">
        <h1 class="ion-text-center">Mis Libros Favoritos</h1>
        <h2 class="ion-text-center">Deja tu recomendación</h2>
    </div>

    <form (ngSubmit)="agregarComentario()">

        <ion-list lines="full">

            <ion-item>
                <ion-label position="stacked">Tu nombre:</ion-label>
                <ion-input type="text" [(ngModel)]="nuevoComentario.nombre" name="nombre" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Tu recomendación:</ion-label>
                <ion-textarea [(ngModel)]="nuevoComentario.texto" name="comentario" required>
                </ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label>Valoración:</ion-label>
                <div class="rating" slot="end">
                    <span *ngFor="let star of [1,2,3,4,5]" (click)="nuevoComentario.valoracion = star"
                        [class.active]="star <= nuevoComentario.valoracion">★</span>
                </div>
            </ion-item>

        </ion-list>

        <div class="ion-padding">
            <ion-button type="submit" expand="block">Enviar Comentario</ion-button>
        </div>

    </form>

    <div class="ion-padding">
        <h2 class="ion-text-center">¿Por qué recomiendan este libro?</h2>
    </div>

    <ion-card *ngFor="let comentario of comentarios">

        <ion-card-header>
            <ion-card-title>{{comentario.nombre}}</ion-card-title>
            <ion-card-subtitle>
                <div class="rating"> <span *ngFor="let star of [1,2,3,4,5]"
                        [class.active]="star <= comentario.valoracion">★</span>
                </div>
            </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <p>{{comentario.texto}}</p>
            <small>{{comentario.fecha | date:'mediumDate'}}</small>
        </ion-card-content>

    </ion-card>

</ion-content>